ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-left: 5cm;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    margin-top: 17px;
  }
  
  li a:hover {
    background-color: #333;
    color: white;
  }

  #login{
      background-color: #333;
      color: white;
      margin-left: 300px;
  }
  
  
  #img{
      float: right;
  }   
  #img2{
      float: left;
  }

  div{
      margin:auto;
      width: 18cm;
  }
  .p2{
      margin-left: 200px;
  }
  .p1{
      margin-right: 200px;
  }

  footer{
      position: fixed;
      bottom:0;
      left: 0;
      width: 100%;
      padding-bottom: 15px;
  }
  #footer{
      width: 22cm;
  }
  #img3{
      float: left;
      width: 80px;
  }
  .p3{
      float: right;
  }
